<mat-toolbar color="accent">
    <mat-toolbar-row  fxLayoutGap="1rem"  >
      <!-- <mat-icon aria-hidden="false" aria-label="menu">pan_tool</mat-icon> -->
      <mat-icon aria-hidden="false" color="accent" aria-label="menu">menu</mat-icon>
    <p>
      <mat-icon aria-hidden="false" color="accent" aria-label="menu">pan_tool</mat-icon>
      Aliados</p>
    <p>
      <mat-icon aria-hidden="false" color="accent" aria-label="menu">extension</mat-icon>
      Voluntarios</p>
    <p>
      <mat-icon aria-hidden="false" color="accent" aria-label="menu">pan_tool</mat-icon>
      Donaciones</p>
    <p>
      <mat-icon aria-hidden="false" color="accent" aria-label="menu">child_care</mat-icon>
      Conocenos</p>
  </mat-toolbar-row>
</mat-toolbar>